$black: #000;
$white: #fff;
$pink: #ee529c;
$pinkLight: #ec8dba;
$grey: #bcbec0;
$greyLight: #dfdfdf;


body{
    display: flex;
    align-items: center;
    justify-content: center;

    background: $grey;
}

// tablet start




@keyframes move{
    from {

    } to {

    }
}

// tablet end